$gray-dark: #E0E0E0;
$gray: #F6F6F6;
$gray-light: #D2D2D2;

$white: #fff;

$font-color: rgba(0, 0, 0, 0.87);
$font-color-lighter: rgba(0, 0, 0, 0.5393);

$brand-primary: #42C8B5;

$app-background-color: #f9f8f8;

$header-height:56px;
