@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: $font-color;
  background-color: $app-background-color;
}

.app {
  height: 100%;
  width: 100%;

  .app__container {
    padding: 25px 15px;
  }
}

@import "header";
@import "todo.element";
@import "todo.form";
@import "todo.list";
